.bgimg {
    padding: 30px 0px; 
    background-position:center left;
    width: 100%;
    background-size: cover;

}
.home {
    text-align: center;
    vertical-align: central;
    text-shadow: 2px 2px #000000;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
}

#actives {
    background: black;
}

.timeBtn {
    background:transparent center;
    border:none;
    margin-top:-16px;
}
.endTime {
    vertical-align:super;
    display:inline-block;
}
.endTime:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

@media only screen and (max-width: 380px) {
    #brand-logo {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    #brand-logo {
        font-size: 12px;
    }
}